* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #222;
  color: rgba(207, 205, 207, 0.933);
  font-size: 62.5%;
}
section {
  padding: 1.5rem;
}
.post__title {
  font-size: 2rem;
}

.post {
  border: 1px solid rgba(207, 205, 207, 0.933);
  max-width: 30rem;
  padding: 2rem;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
}

.post h3 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}
.post p {
  font-size: 1.1rem;
}
.form-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.form-section {
  margin-bottom: 2rem;
  max-width: 30rem;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.form-item {
  display: flex;
  align-items: center;

  margin-bottom: 2rem;
}
.form-item input {
  padding: 10px 15px;
  outline: transparent;
  border: transparent;
  border-radius: 0.6rem;
  margin-left: 1rem;
}
.form-item label {
  font-size: 1rem;
  font-weight: 300;
  padding-inline: 1rem;
  cursor: pointer;
}

.save-post {
  padding: 10px 18px;
  font-size: 1.2rem;
  border: 1px solid rgba(207, 205, 207, 0.933);
  color: #fff;
  background-color: transparent;
  border-radius: 0.6rem;
  cursor: pointer;
}
.users-select {
  margin-bottom: 1rem;
  border: none;
  padding: 8px 8px;
  font-size: 1.2rem;
}
.reactionButton {
  font-size: 1rem;
  margin: 1rem;
  padding: 5px;
  cursor: pointer;
}
