@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #222;
  color: rgba(207, 205, 207, 0.933);
  font-size: 62.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
section {
  padding: 1.5rem;
}
.post__title {
  font-size: 2rem;
}

.post {
  border: 1px solid rgba(207, 205, 207, 0.933);
  max-width: 30rem;
  padding: 2rem;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
}

.post h3 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}
.post p {
  font-size: 1.1rem;
}
.form-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.form-section {
  margin-bottom: 2rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin-bottom: 2rem;
}
.form-item input,
.form select,
.form textarea {
  padding: 10px 15px;
  outline: transparent;
  border: transparent;
  border-radius: 0.6rem;
  resize: none;
  font-size: 1rem;
}
.form-item label {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}

.save-post {
  padding: 10px 18px;
  font-size: 1.2rem;
  border: 1px solid rgba(207, 205, 207, 0.933);
  color: #fff;
  background-color: transparent;
  border-radius: 0.6rem;
  cursor: pointer;
}
.users-select {
  margin-bottom: 1rem;
  border: none;
  padding: 8px 8px;
  font-size: 1.2rem;
}
.reactionButton {
  font-size: 1rem;
  margin: 1rem;
  padding: 5px;
  cursor: pointer;
}
.author {
  font-size: 0.9rem;
  font-weight: 500;
}
.time {
  font-size: 0.7rem;
  font-style: italic;
}
@media screen and (max-width: 800px) {
  .form-item {
    grid-template-columns: 1fr;
  }
}
